addFilter("E: dir-or-file-in-opt")
addFilter("W: unstripped-binary-or-object")
addFilter("E: binary-or-shlib-defines-rpath")
addFilter("E: env-script-interpreter /opt/awsvpnclient/Resources/openvpn/configure-dns /usr/bin/env bash")
addFilter("W: crypto-policy-non-compliance-openssl /opt/awsvpnclient/Resources/openvpn/acvc-openvpn")
addFilter("W: crypto-policy-non-compliance-openssl /opt/awsvpnclient/Resources/openvpn/openssl")
addFilter("W: files-duplicate /opt/awsvpnclient/AWS VPN Client.runtimeconfig.json /opt/awsvpnclient/ACVC.GTK.Service.runtimeconfig.json")
addFilter("W: files-duplicate /opt/awsvpnclient/Resources/openvpn/libc.so /opt/awsvpnclient/Resources/openvpn/ld-musl-x86_64.so.1")
addFilter("E: files-duplicated-waste")
addFilter("E: call-to-mktemp /opt/awsvpnclient/Resources/openvpn/ld-musl-x86_64.so.1")
addFilter("E: call-to-mktemp /opt/awsvpnclient/Resources/openvpn/libc.so")
addFilter("W: binary-or-shlib-calls-gethostbyname /opt/awsvpnclient/Resources/openvpn/acvc-openvpn")
addFilter("W: binary-or-shlib-calls-gethostbyname /opt/awsvpnclient/Resources/openvpn/ld-musl-x86_64.so.1")
addFilter("W: binary-or-shlib-calls-gethostbyname /opt/awsvpnclient/Resources/openvpn/libc.so")
addFilter("W: binary-or-shlib-calls-gethostbyname /opt/awsvpnclient/Resources/openvpn/openssl")
